@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-link{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #4CAF50;
}
